@font-face {
    font-family: vazir;
    src: url(../../Vazirmatn-Bold.woff2);
}

*, body{
    direction: rtl;
    font-family: vazir;
}

div.right, div.left, .d-flex{
    display: flex;
    gap: 20px;
    
    align-items: center;
}
a{
    text-decoration: none;
    padding: 0 10px;
    color: #4c4c4c;
}

div.left img{
    width: 50px;
}

.d-flex{
    justify-content: space-between;
}

.border-bottom{
    border-bottom: 2px solid #a6a3a360;
}

input[type=checkbox]{
    display: none;
}

i.fa-bars{
    display: none;
}

@media screen and (max-width:650px) {
    nav{
        display: none;
        position: absolute;
        top: 10%;
        width: 100%;
        box-shadow: 2px 2px 2px 2px #efefef;
    }
    nav a {
        display: block;
        padding: 12px;
        width: 100%;
    }
    nav a:hover{
        background-color: #e2dbdb;
    }

    .right{
        display: block;
        width: 60%;
        justify-content: space-between;
           
    }
    i.fa-bars{
        display: block;
    }
    input[type="checkbox"]:checked ~ nav{
        display: block;
    }
    
}