@font-face {
    font-family: vazir;
    src: url(../../Vazirmatn-Bold.woff2);
}

*, body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    direction: rtl;
    font-family: vazir;
    /* overflow-x: hidden; */
}

div.right, div.left, .d-flex{
    display: flex;
    gap: 20px;
    
    align-items: center;
}
a{
    text-decoration: none;
    padding: 0 10px;
    color: #4c4c4c;
}

div.left img{
    width: 50px;
}

.d-flex{
    justify-content: space-between;
}

.border-bottom{
    border-bottom: 2px solid #a6a3a360;
}

input[type=checkbox]{
    display: none;
}

i.fa-bars{
    display: none;
}
.sticky{
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #fff;
    
}
@media screen and (max-width:650px) {
    nav{
        display: none;
        position: absolute;
        top: 49px;
        width: 100%;
        box-shadow: 2px 2px 2px 2px #efefef;
        z-index: 999;
        background-color: white;
        
    }
    nav a {
        display: block;
        padding: 12px;
        width: 100%;
    }
    nav a:hover{
        background-color: #e2dbdb;
    /* }
    nav a::after{
        content: '';
        display: block;
       
        height: 2px;
        background-color: black;
        opacity: 0;
        transition: opacity 1s ease-out;
    }
    nav a:hover::after{
        opacity: 1;
    } */

    .right{
        display: block;
        width: 60%;
        justify-content: space-between;
           
    }
    i.fa-bars{
        display: block;
    }
    input[type="checkbox"]:checked ~ nav{
        display: block;
    }
    
}