body{
    height: 100%;
}

.container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loading{
    width: 80px;
    height: 80px;
    border: 10px solid black;
    border-radius: 50%;
    border-left: 10px solid red;
    animation: loading 1s infinite;
    display: none;
    position: relative;
    top: 300px;
    
}

@keyframes loading {
    from{
        transform:  rotate(0deg);
    }
    to{
        transform:  rotate(360deg);
    }
}

.card{
    border: 2px solid black;
    border-radius: 12px;
    padding: 15px;
    margin: 10px 0;
    text-align: center;
}

.item{
    padding: 5px;
    color: brown;
}