div{
    background-color: #efefef;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}
button{
    padding: 5px 20px;
    border: none;
    background-color: white;
    border-radius: 15px;
    cursor: pointer;
}

